In [185]:
import pandas as pd
import numpy as np
import re

In [186]:
shark = pd.read_csv('/Users/vanessa/Desktop/data/attacks.csv', encoding='latin1')

In [187]:
shark.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
shark.info()

In [188]:
shark.dropna(subset=["Year"], axis=0, inplace=True)

In [189]:
shark['Year'] = shark['Year'].astype(int)

In [190]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6300 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6299 non-null   object
 1   Date                    6300 non-null   object
 2   Year                    6300 non-null   int64
 3   Type                    6296 non-null   object
 4   Country                 6250 non-null   object
 5   Area                    5845 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5756 non-null   object
 8   Name                    6090 non-null   object
 9   Sex                     5735 non-null   object
 10  Age                     3470 non-null   object
 11  Injury                  6272 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3463 non-null   object
 15  Investigator or Source  6283 non-null   object
 16  pdf                     6300 non-null   object
 17  href formula            6299 non-null   object
 18  href                    6300 non-null   object
 19  Case Number.1           6300 non-null   object
 20  Case Number.2           6300 non-null   object
 21  original order          6300 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(1), int64(1), object(22)
memory usage: 1.2+ MB

In [191]:
pd.options.display.max_columns = 25

In [192]:
shark.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [193]:
shark['Unnamed: 22'].isnull().value_counts()

True     6299
False       1
Name: Unnamed: 22, dtype: int64

In [194]:
shark['Unnamed: 23'].isnull().value_counts()

True     6298
False       2
Name: Unnamed: 23, dtype: int64

In [195]:
shark.drop(['Unnamed: 22','Unnamed: 23'], axis=1, inplace=True)

In [197]:
#shark.head()

In [198]:
columns = ['Year','Type','Country','Area','Location','Activity','Fatal (Y/N)']
shark1 = shark[columns]

In [199]:
shark1.head()

,Year,Type,Country,Area,Location,Activity,Fatal (Y/N)
0,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,N
1,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,N
2,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,N
3,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,N
4,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,N

In [157]:
shark1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4496 entries, 0 to 4497
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         4496 non-null   float64
 1   Type         4494 non-null   object
 2   Country      4482 non-null   object
 3   Area         4279 non-null   object
 4   Location     4224 non-null   object
 5   Activity     4176 non-null   object
 6   Fatal (Y/N)  4130 non-null   object
dtypes: float64(1), object(6)
memory usage: 410.0+ KB

In [200]:
shark1.shape

(6300, 7)

In [201]:
shark.Year.unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988,
       1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943,
       1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888,
       1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877,
       1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866,
       1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855,
       1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841,
       1840, 1839, 1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828,
       1827, 1826, 1825, 1823, 1822, 1819, 1818, 1817, 1816, 1815, 1812,
       1811, 1810, 1808, 1807, 1805, 1804, 1803, 1802, 1801, 1800, 1797,
       1792, 1791, 1788, 1787, 1786, 1785, 1784, 1783, 1780, 1779, 1776,
       1771, 1767, 1764, 1758, 1753, 1751, 1749, 1755, 1748, 1742, 1738,
       1733, 1723, 1721, 1703, 1700, 1642, 1638, 1637, 1617, 1595, 1580,
       1555, 1554, 1543,  500,   77,    5,    0])

In [205]:
year_ = shark1[shark1["Year"]<1950]
shark1 = shark1.drop(year_.index)

In [206]:
shark1.Year.unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988,
       1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950])

In [207]:
shark1.Type.value_counts()

Unprovoked      3347
Provoked         430
Invalid          377
Boat             130
Boating          111
Sea Disaster      97
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [208]:
shark1 = shark1[(shark1['Type'] != 'Boatomg')]

In [183]:
#shark1['Type'].replace(['boating'] == ['boat'], inplace=True)

In [209]:
shark1['Type'].value_counts()

Unprovoked      3347
Provoked         430
Invalid          377
Boat             130
Boating          111
Sea Disaster      97
Questionable       2
Name: Type, dtype: int64

In [210]:
shark1.head()

,Year,Type,Country,Area,Location,Activity,Fatal (Y/N)
0,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,N
1,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,N
2,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,N
3,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,N
4,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,N

In [136]:
shark1.Country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES'],
      dtype=object)

In [137]:
#def names():
    #if re.search('OCEAN'):
        #return [' ']

In [118]:
#shark1['Country'] = shark1['Country'].apply(names)

In [211]:
shark1['Country'].value_counts()

USA                       1870
AUSTRALIA                  800
SOUTH AFRICA               469
PAPUA NEW GUINEA           111
BRAZIL                     103
                          ...
ANTIGUA                      1
ARUBA                        1
BRITISH VIRGIN ISLANDS       1
ADMIRALTY ISLANDS            1
DIEGO GARCIA                 1
Name: Country, Length: 151, dtype: int64

In [212]:
#shark1.head()

In [160]:
#shark1.Activity.unique()

In [121]:
shark1.Activity.value_counts()

Surfing                                                         961
Swimming                                                        553
Spearfishing                                                    327
Fishing                                                         267
Wading                                                          132
                                                               ...
Swimming in strong current with 3 others when he disappeared      1
Pulling shark from the water                                      1
Bather                                                            1
Longling fishing                                                  1
Swimming underneath house on pilings                              1
Name: Activity, Length: 972, dtype: int64

In [213]:
sharkreg = shark1[['Country','Area']]

In [214]:
sharkUSA = sharkreg[(sharkreg['Country']=='USA')]

In [215]:
sharkUSA

     Country        Area
0        USA  California
1        USA     Georgia
2        USA      Hawaii
7        USA     Florida
8        USA     Florida
...      ...         ...
4472     USA    New York
4473     USA     Florida
4483     USA      Hawaii
4490     USA     Florida
4491     USA      Hawaii

[1870 rows x 2 columns]

In [216]:
sharkUSA.value_counts()

Country  Area
USA      Florida                   955
         California                268
         Hawaii                    237
         South Carolina            123
         North Carolina             81
         Texas                      55
         Oregon                     29
         Virginia                   14
         New Jersey                 13
         Alabama                    11
         Georgia                    10
         Puerto Rico                10
         New York                    9
         Massachusetts               9
         Louisiana                   8
         Delaware                    5
         US Virgin Islands           4
         Maryland                    3
         Mississippi                 3
         Rhode Island                2
         Palmyra Atoll               2
         Washington                  2
         Connecticut                 2
         North & South Carolina      1
         New Mexico                  1
         North Carolina              1
         Alaska                      1
         Maine                       1
         Pennsylvania                1
         Kentucky                    1
         Johnston Atoll              1
         Illinois                    1
         South Carolina              1
         Guam                        1
         Florida                     1
         Wake Island                 1
         Missouri                    1
dtype: int64

In [217]:
shark1.head(20)

,Year,Type,Country,Area,Location,Activity,Fatal (Y/N)
0,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,N
1,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,N
2,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,N
3,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,N
4,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,N
5,2018,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,N
6,2018,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Y
7,2018,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,N
8,2018,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,N
9,2018,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,N
10,2018,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,N
11,2018,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,N
12,2018,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,N
13,2018,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,N
14,2018,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,N
15,2018,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,N
16,2018,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,N
17,2018,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,N
18,2018,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,N
19,2018,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,N

In [218]:
shark1.to_csv('shark1.output_csv')